.input-container {
    display: flex;
    flex-direction: column;
}

.label {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #17181C;
}

.input {
        width: 278px;
        height: 32px;

        background: #FFFFFF;
        border: 2px solid rgba(37, 103, 255, 1);
        border-radius: 12px;

        padding-left: 8px;
}

.input:hover {
    border: 2px solid rgba(63, 142, 252, 1);
}

.input:focus-visible {
    outline: none;
    border: 2px solid rgba(63, 142, 252, 1);
}