.input-search {
    width: 635px;
    height: 32px;

    background-color: #D9D9D9;
    border: 0;
    border-radius: 12px;

    padding-left: 32px;
}

.input-search:focus-visible {
    outline: none;
    border: 2px solid #006BA6;
}