.nav-bar {
    width: 100%;
    height: 77px;
    padding: 0 28px 0 28px;
    background-color: #FFFFFF;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-container {
    margin: 0 133px 0 162px;
    width: 635px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 67px;
    cursor: pointer;

    background-color: #D9D9D9;
}

.search-btn {
    border: 0;

    position: absolute;
    right: 920px;
    top: 30px;
    border-radius: 50%;
    background: #D9D9D9;
    cursor: pointer;
}

.cart-btn-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.upload-confirmation-product {
    width: 100%;
    margin-top: 60px;
}