.sign-up{
    width: 320px;
    height: 430px;
    top: 50%;
    left: 50%;
    
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.w-container{
    width: 950px;
    height: 540px;
    background: cornsilk;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head{
    text-align: center;
    margin-bottom: 30px;
}
.have-account .form-signup-container {

    display: flex;
    justify-content: center;
    align-items: center;
}
.form-signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.have-account{
    flex-direction: row;
}